<% indent = (depth - 1) * 4
%><%= " "*(indent + 4) %><li id="<%= menu_item[:id] %>" class="navigation__item navigation__item--<%= depth %><%= ' navigation__item--first' if position == 1 %><%= ' navigation__item--last' if position == item_count %><%= ' navigation__item--active' if menu_item[:selected] %><%= ' navigation__item--with-submenu' unless menu_item[:children].blank? %>">
<%= " "*(indent + 6) %><a class="navigation__link" href="<%= menu_item[:url] %>"<%= ' target=#{menu_item[:target]}' if menu_item[:target] %>><span><%= menu_item[:name] %></span></a>
<% unless menu_item[:children].blank?
%><%= " "*(indent + 6)  %><ul>
<% menu_item[:children].each_with_index do |item, i|
%><%= render :partial => "/cms/menus/menu_item", :object => item, :locals => { :depth => depth + 1, :position => i + 1, :item_count => menu_item[:children].length }
%><% end
%><%= " "*(indent + 6)  %></ul>
<% end
%><%= " "*(indent + 4)  %></li>
