<% use_page_title "Assets - #{content_type.display_name_plural}" %>
<div class="padded row-fluid clearfix">
  <h1 class="span3">Assets</h1>
  <%= form_for @search_filter, url: engine(content_type).url_for({}), html: {class: 'form-search'}, method: :get do |f| %>
    <% if content_type.name == "Freshminds::Advertisement" %>
      <%= f.text_field :name, class: "span6 search-query right", placeholder: "Search #{content_type.display_name_plural}" %>
      <%= f.label :responsible_person_email, :class => 'span6 right' %>
      <%= f.select(:responsible_person_email, Freshminds::Advertisement.pluck(:responsible_person_email).uniq.reject!(&:blank?),{ :include_blank => true }, { :class => 'span6 right', :label => "Responsible person's email" }) %>
      <%= f.label :filled, :class => 'span6 right' %>
      <%= f.select(:filled, [['yes',true], ['no',false]],{ :include_blank => true }, { :class => 'span6 right', :label => "Responsible person's email" }) %>
      <%= f.label :job_type_id, :class => 'span6 right' %>
      <%= f.collection_select(:job_type_id, Freshminds::JobType.all,:id,:name,{ :include_blank => true }, { :class => 'span6 right', :label => "Job type" }) %>
      <div class="btn-group span6 right">
        <%= f.submit "Filter!", :class => 'span3 right btn btn-small btn-primary primary-ct' %>  
      </div>
    <% elsif content_type.name == "Freshminds::OnesToWatch" %>
      <%= f.label :first_name, :class => 'span6 right' %>
      <%= f.text_field :first_name, class: "span6 search-query right", placeholder: "First name" %>
      <%= f.label :surname, :class => 'span6 right' %>
      <%= f.text_field :surname, class: "span6 search-query right", placeholder: "Surname" %>
      <%= f.label :nominator_last_name, :class => 'span6 right' %>
      <%= f.text_field :nominator_last_name, class: "span6 search-query right", placeholder: "Nominator last name" %>
      <%= f.label :university_id, :class => 'span6 right' %>
      <%= f.select(:university_id, Freshminds::OnesToWatch.all.collect{ |p| [ p.university_name, p.university_id ] }.uniq,{ :include_blank => true }, { :class => 'span6 right', :label => "University" }) %>
      <div class="btn-group span6 right">
        <%= f.submit "Filter!", :class => 'span3 right btn btn-small btn-primary primary-ct' %>  
      </div>
    <% else %>
      <%= f.text_field :term, class: "span6 search-query right", placeholder: "Search #{content_type.display_name_plural}" %>
    <% end %>
  <% end %>
  <% if content_type.name == "Freshminds::OnesToWatch" %>
    <%= link_to 'Download all CVs', "/ones_to_watches/download_files", :class => 'span3 btn btn-small btn-primary primary-ct' %>
  <% end %>
</div>


<%= form_tag engine_aware_path(@search_filter.path), method: :put do %>
    <div class="padded row-fluid clearfix">
      <div class="btn-group span3 top-buttons">
        <button class="btn btn-small dropdown-toggle btn-solo" data-toggle="dropdown" data-purpose="subheader">
          <%= content_type.display_name_plural %> &nbsp;<span class="caret"></span>
        </button>
        <%= render partial: 'layouts/cms/content_types', locals: {library: false, id: 'asset-selector-menu'} %>
      </div>

    <span class="span9 top-buttons">
        <%= submit_tag "Publish", class: "right btn btn-small btn-primary primary-cta" if content_type.model_class.publishable? %>
        <%= submit_tag "Close", class: "right btn btn-small btn-primary primary-cta" if content_type.name == "Freshminds::Advertisement" %>
        <div class="btn-group right">
          <%= submit_tag "Delete", class: 'btn btn-small', data: {confirm: 'Are you sure you want to delete all these records?'} %>
        </div>
        <%= yield :bulk_actions if content_for?(:bulk_actions) %>
        <h4 class="right"><%= @total_number_of_items %> ITEMS</h4>
    </span>
    </div>


    <%- if content_type.model_class.new.respond_to?(:on_homepage) || content_type.model_class.new.respond_to?(:featured) %>
      <div class="padded row-fluid clearfix">
        <p>
          Drag and drop items. They will finaly be ordered in the order presented below. Item position is only take under consideration within the same item type groups.
        </p>
        <table class="table table-bordered assets">
          <tbody>
            <%- if content_type.model_class.new.respond_to?(:on_homepage)%>
              <tr class="on_homepage">
                <td>On homepage</td>
              </tr>
            <% end %>
            <%- if content_type.model_class.new.respond_to?(:featured) %>
              <tr class="featured">
                <td>Featured</td>
              </tr>
            <% end %>
            <tr class="normal">
              <td>Nor featured nor on homepage</td>
            </tr>
          </tbody>
        <table>
      </div>
    <% end %>

    <% if content_type.name == "Freshminds::OnesToWatch" %>
      <div class="main-content padded row-fluid">
        <div class="span6">
          <a href="#" class="show-universities">Universities stats</a>
          <table class="table table-bordered assets hidden universities">
            <thead>
              <tr>
                <th>University name</th>
                <th>Nominees</th>
              </tr>
            </thead>
            <% Freshminds::OnesToWatch.count(:all, group: 'university').map{ |k,v| { k.name => v } }.sort {|a1,a2| a2[1]<=>a1[1]}.each do |el| %>
            <tbody>
              <tr>
                <td><%= el.keys.join %></td>
                <td><%= el.values.join %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
        <div class="span6">
          <a href="#" class="show-nominators">Nominator stats</a>
          <table class="table table-bordered assets hidden nominators">
            <thead>
              <tr>
                <th>Nominator last name</th>
                <th>Nominees</th>
              </tr>
            </thead>
            <% Freshminds::OnesToWatch.count(:all, group: 'nominator_last_name').sort {|a1,a2| a2[1]<=>a1[1]}.each do |el| %>
            <tbody>
              <tr>
                <td><%= el.first %></td>
                <td><%= el.last %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
      </div>
      <script type="text/javascript">
        jQuery(function($){
          $(".show-nominators").click(function() {
            $("table.nominators").toggle();
          });
          $(".show-universities").click(function() {
            $("table.universities").toggle();
          });
          $(".check-all").click(function(e){
            var table= $(e.target).closest('table');
            $('td input:checkbox',table).prop('checked',this.checked);
          });
        });
      </script>
    <% end %>

    <div class="main-content padded row-fluid">
      <table class="table table-bordered assets">
        <thead>
        <tr>
          <th class="check-cell"><input type="checkbox" class="check-all"></th>
          <% content_type.columns_for_index.each_with_index do |column, i| %>
              <th>
                <% if column[:order] %>
                    <%= link_to column[:label], sortable_column_path(content_type, column[:order]) %>
                    <span class='caret'></span>
                <% else %>
                    <%= column[:label] %>
                <% end %>
              </th>
          <% end %>
          <% if (content_type.model_class.respond_to?(:created_by)) %>
              <th>Created By</th>
          <% end %>
          <% if content_type.model_class.connectable? %>
              <th>Used</th>
          <% end %>
        </tr>
        </thead>
        <% jquery_sortable = content_type.model_class.respond_to?(:sortable_dragable) ? "sorted_table" : "" %>
        <tbody class="<%= jquery_sortable %>" data-sort-url="<%= polymorphic_path(build_path_for(content_type.model_class), {action: :sort}) %>">
        <% @blocks.each_with_index do |block| %>
            <%- clazz = "" %>
            <%- if block.respond_to?(:on_homepage) && block.on_homepage %>
              <%- clazz +=" on_homepage " %>
            <% end %>
            <%- if block.respond_to?(:featured) && block.featured %>
              <%- clazz +=" featured " %>
            <% end %>

            <tr id="<%= dom_id(block) %>" class="<%= clazz %>">
              <td class="check-cell"><%= check_box_tag 'content_id[]', block.id %></td>
              <% content_type.columns_for_index.each_with_index do |column, i| %>
                  <td class="<%= column[:label].downcase.include?('email') ? 'break-text' : '' %>">
                    <%- val = block.send(column[:method]) %>
                    <%- val_type = val.class %>
                    <%= link_to_if(i == 0, val, edit_engine_aware_path(block)) %>
                    <%= draft_icon_tag(block) if i == 0 %>
                  </td>
              <% end %>
              <% if (content_type.model_class.respond_to?(:created_by)) %>
                  <td><%= block.created_by.try(:full_name) %></td>
              <% end %>
              <% if content_type.model_class.connectable? %>
                  <td><%= block.connected_pages.size %></td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<% end %>

<div class='padded row-fluid clearfix'>
  <% if !@search_filter.term.blank? && @blocks.size == 0 %>
    <div class="pagination">No results found for '<%= @search_filter.term %>'</div>
  <% elsif @blocks.total_pages > 1 %>
    <%= render_pagination @blocks, content_type, :order => params[:order], "search_filter[term]" => @search_filter.term %>
  <% end %>

</div>

<script type="text/javascript">
  jQuery(function($){
    $(".check-all").click(function(e){
      var table= $(e.target).closest('table');
      $('td input:checkbox',table).prop('checked',this.checked);
    });
  });
</script>
